
body{
  margin: auto;
  background-color: #FAF7F2;
  color: #FFFFFF;
}

#wrap{
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 2rem auto;
}

header{
  background-image: url("./public/assets/iteration-1/home-banner.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.logo p{
  display: flex;
  height: 50px;
  margin: 56px 778px;
  font-family: 'Londrina Solid';
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  justify-content: center;
  color: #FFFFFF;
}

.catchwordsMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.catchwordsMain .firsat{
  color: #FDC913;
  font-family: 'Satisfy';
  font-size: 32px;
  justify-content: center;
}

.catchwordsMain .catchword{
  width: 767.6384887695312px;
  height: 195px;
  font-size: 86px;
  line-height: 92px;
  color: #FFFFFF;
  font-family: 'Roboto Condensed';
  font-weight:300;
  letter-spacing: 1.5px;
}

#btn-1{
  background-color: #FDC913;
  width: 193.265625px;
  height: 56px;
  border-radius: 50px;
  text-decoration: none;
  font-family: 'Barlow';
  font-size: 18px;
  line-height: 56px;
  font-weight: 600;
  margin: 3.73px 49.64px;
}

.foods-section{
  width: 1920px;
  height: 94px;
  padding: 26px 426px ;
}

.foods-section ul{
  width: 1068px;
  height: 42px;
  display: flex;
  background-color:#FFFFFF;
  justify-content:space-between;
}

.foods-section a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  gap: 16px;
  font-family: 'Barlow';
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
}

.mid-section{
  display: flex;
  width: 1072px;
  height: 449px;
  gap: 11px;
  margin: auto;
}

.mid-section-1{
  display: flex;
  width: 531px;
  height: 449px;
  background-color: #CE2829;
  background-repeat: no-repeat;
  justify-content: space-between;
  border-radius: 12px;
}

.mid-section-1-1{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 44px;
  margin-left: 49px;
  color: #FFFFFF;
  position: absolute;
}

.btn-2{
  background-color: #FFFFFF;
  color: #CE2829;
  width: 138px;
  height: 48px;
  border-radius: 50px;
  text-decoration: none;
  font-family: 'Barlow';
  font-size: 14px;
  line-height: 56px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}


#spacial-sauce{
  width: 288.18px;
  font-family: 'Quattrocento';
  font-size: 68px;
  font-weight: 700;
  line-height: 72px;
  
}

#burger{
  width: 275px;
  font-family: 'Barlow';
  font-size: 20px;
  font-weight: 600;
  line-height: 26.76px;
  
}

#pizza{
  width: 531px;;
  border-radius: 50px;
}

.mid-section-2{
  display: flex;
  flex-direction: column;
  width: 530px;
  gap: 9px;
}

.mid-section-2-1{
  display: flex;
  height: 220px;
  background-color: #292929;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.mid-section-hackathlon{
  width: 182.35px;
  height: 163px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

#hackathlon{
  position: relative;
  color:#FFFFFF;
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
}

.mid-section-2-1 section img{
  display: flex;
  position: relative;
  height: 151px;
  margin-left: auto;
  }

.mid-section-2-1 section {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  padding: 32px;
  justify-content: space-between;
}

.mid-section-2-2{
  width: 530px;
  height: 220px;
  background-color: #FFEECC;
  background-image: url(./public/assets/iteration-2/pictures/background-1.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  border-radius: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#npm{
  color:#292929;
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  width: 254px;
  height: 88px;
}

#npm span{
  color: #CE2829;
}

.mid-section-2-2 section {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  padding: 32px;
  justify-content: space-between;
}

.mid-section-npm{
  display: flex;
  flex-direction: column;
  width: 212px;
  height: 161px;
  position: absolute;
}

.mid-section-2-2 section img{
  display: flex;
  height: 194px;
  }
  
  .mid-section-3{
    text-align: center;
    margin-top: 45px;
  }

  #mid-section-3-p1{
    font-family: 'Satisfy';
    font-weight: 400;
    font-size: 32px;
    line-height: 44.27px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #CE2829;
  }

  #mid-section-3-p2{
    font-family: Barlow;
    font-weight: 600;
    font-size: 42px;
    line-height: 56.2px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

   
  #foods-section-2{
    top: 1882px;
    left: 425px;
    justify-content:space-between;

  }

  #foods-section-2 a:hover{
    background-color:#292929;
    width: 133.0124969482422;
    height: 66;
    gap: 10px;
    border-radius: 50px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
  }
    
  .top-menu{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 1068px;
    height: 430px;
    top: 1981px;
    left: 425px;
    gap: 32px
    ;
  }

  #menu{
    width: 334.6666564941406px;
    height: 419px;
    justify-content: space-between;
    border-radius: 12px;
    padding: 32px;
    background-color: #FFFFFF;
  }

  #menu section{
    display: flex;
    flex-direction: column;
    width: 270.6666564941406px;
    gap: 24px;
  }

  .menu-img{
    width: 270.6666564941406px;
    height: 265px;
  }
  
  .menu-content{
    display: flex;
    flex-direction: column;
    width: 270.6666564941406px;
    height: 66px;
    gap: 8px;

  }

  .menu-content h2{
    width: 270.6666564941406px;
    height: 29px;
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 22px;
    line-height: 29.44px;
  }

  .content{
    display: flex;
    height: 29px;
    justify-content: space-between;

  }
  .com-rate{
    width: 38px;
    height: 29px;
    width: 23px;
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 16px;
    line-height: 28.8px;
    color:#1B1B1BB2 ;
  }

  .price{
    width: 55.01250076293945px;
    height: 25px;
    margin-left: 20px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 20px;
    line-height: 24.76px;
    color: #292929;text-align: end;
  }

  .com-price{
    width: 126px;
    display: flex;
    justify-content: space-between;
  }

  footer{
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 561.25px;
    background-color: #1a1a1a;
    margin-top: 150px;
  }
  
  .footer-class{
    display: flex;
    width: 1066px;
    height: 390.3671875px;
    margin-top: 58px;
    margin-left: 427px;
    justify-content: space-between;
    align-items: center;

  }
  .contacts{
    display: flex;
    width: 663px;
    height: 390.3671875px;
    color: #FFFFFF;
  }

  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 306px;
    height: 314.0625px;
  }
  
  .info div{
    width: 251px;
    font-family: 'Londrina Solid';
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    align-items: start;
  }

  .info-text{
    width: 306px;
    height: 173.5625px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .info-text p{
    width: 240px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
    color: #FFFFFF;
  }

  .info-text li{
    display: flex;
    align-items: ;
    height: 32.390625px;
    width: 100%;
    gap:10px;
  }

  .hot-menu{
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 321.453125px;
    margin-top: 30px;
    margin-left: 100px;
    gap: 30px;

  }

  .hot-menu h1{
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 24px;
    line-height: 32.11px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .hot-menu ul{
    display: flex;
    flex-direction: column;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
    vertical-align: middle;
    gap: 7px;
  }

  .social {
    display: flex;
    flex-direction: column;
    width: 347px;
    height: 332px;
    gap: 40px;
  }
  .social h1{
    width: 174.3718719482422px;
    height: 32px;
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 24px;
    line-height: 32.11px;
    color: #FFFFFF;
  }

  .food-pictures{
    width: 347px;
    height: 222px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    list-style-type: none;
  }

  .footer-last{
    display: flex;
    width: 1920px;
    height: 89.796875px;
    border-top: 1px solid rgb(54, 54, 54)

  }

  .footer-last-1{
    display: flex;
    color: #FFFFFF;
    width: 1064.584228515625px;
    height: 27px;
    margin-top: 32.55px;
    margin-left: 425.42px;
    justify-content:space-between;

  }

  .footer-last-1 p{
    height: 27px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
  }

  @media (max-width:650px){
    #wrap{
      padding: 0 1rem;
    }

    body{
      min-width: 540px;
      min-height: 5928px;
    }

  }